<ion-header>
    <ion-navbar  color="transparent" >
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="md-menu"></ion-icon>
            </button>
        </ion-buttons> 
        <ion-title>{{config.get_translation('home_title')}}</ion-title>
        <ion-buttons end>
            <button ion-button [navPush]="profilePage">
                <ion-icon name="md-contact" *ngIf="!config.isLoggedIn"></ion-icon>
                <img *ngIf="config.isLoggedIn" [src]="config.user?.avatar">
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content elastic-header fixedscrollheader>

    <div id="featured" *ngIf="featured && featured.length && config.homePage.featuredCourseSlider">
        <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" spaceBetween="0">
            <ion-slide *ngFor="let course of featured">
                 <lazy-img [inputSrc]="course.featured_image" [navPush]="coursePage" [navParams]="course">2</lazy-img>
                <span [innerHtml]="course.name"></span>
            </ion-slide>
        </ion-slides>
    </div>

    <div id="homecontent" padding>
        <div *ngIf="popular.length && config.homePage.popular">
            <h3 class="heading"><span>{{config.get_translation('Available Courses')}}</span><span>{{config.get_translation('Continue your 7 Week Challenge')}}</span></h3>
            <div id="popular_courses">

                <ion-grid>
                    <ion-row *ngFor="let row of grid">
                        <ion-col width-50 *ngFor="let lcourse of row">
                        <coursecard [course]="lcourse" *ngIf="lcourse"></coursecard>
                        </ion-col>
                    </ion-row>
                </ion-grid>        

            </div>
        </div>
    </div>    
    


</ion-content>