<ion-header>
    <ion-navbar *ngIf="config.isLoggedIn" color="transparent" >
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="md-menu"></ion-icon>
            </button>
        </ion-buttons> 
    </ion-navbar>
</ion-header>

<ion-content>

    <div id="homecontent" class="center" [ngClass]="{ 'full-height' : !config.isLoggedIn }" >

        <div class="center intro-profile" [navPush]="profilePage" >
            <img src="assets/images/icon-profile.svg" /> 
            <div [ngClass]="{ 'fadeOutDown': animate_arrow }" *ngIf="!config.isLoggedIn">{{config.get_translation('Get Started')}}</div>
        </div>

        <div *ngIf="!config.isLoggedIn" class="guest-block">
            <div class="center intro-block">
                <img src="assets/images/logo-white.png" />
            </div>

            <ion-icon name="ios-arrow-down-outline" [ngClass]="{ 'down': true, 'fadeOutDown': animate_arrow }"></ion-icon>
        </div>

    </div>    

    
    <div class="courses-container" >

        <div class="quote-container">
            <span>{{quote?.quote}}</span>
            <span class="author">{{quote?.author}}</span>
        </div>

        <div *ngIf="popular.length && config.homePage.popular">
            <div id="popular_courses">

                <ion-grid>
                    <ion-row *ngFor="let row of grid">
                        <ion-col width-50 *ngFor="let lcourse of row">
                        <coursecard [course]="lcourse" *ngIf="lcourse"></coursecard>
                        </ion-col>
                    </ion-row>
                </ion-grid>        

            </div>
        </div>

    </div>


</ion-content>