page-home {

	ion-navbar{
		background-color: transparent !important;
	}

	.full-height{
		height: 100%;
	}

	.guest-block{
		margin-bottom: 100px;
	}

	.intro-profile{
		img{
			padding-top: 30px;
			width: 35px;
		}
		div{
			color: white;
			font-size: 1.8rem;
		}
		
	}

	.intro-block{
		margin-top:100px;
		img{
			padding-top: 30px;
			width: 50%;
		}
	}

	.courses-container{
		background-color: rgba(0,0,0,0.2);
		border-radius: 20px;
		padding: 20px;
		margin: 20px;
		.quote-container{
			background-color: rgba(0,0,0,0.4);
			color: white;
			padding: 20px;
			border-radius: 20px;
			margin-bottom: 20px;
			text-align: center;
		}
	}

	.heading{
		background-color: #f0f0f0;
		margin: -16px;
		padding: 16px;
		margin-bottom: 10px;		
	}

	#loading{
		position:fixed;
		top:0;left:0;z-index:9999;
		width:100vw;height:100vh;
		display:block;
		background:#313b3d;
		h2{
			color:#fff;
			transition:all 200ms ease-in;
		}
	}
	ion-slides{
		height:auto;
	    margin: 0 -12px;
    	width: calc(100% + 24px);
		&#featured{
			z-index:1;
			position:relative;
			.swiper-container{
				padding:10px;
			}
		}
	}
	.swiper-container{
		height:auto;
		padding-bottom:30px;
	}
	#featured{
		img{
		    width: 100%;
		    object-fit: cover;
		    height: 30vh;
		    min-height: 320px;
		}
		span{
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    z-index:9;
		    width: 100%;
		    background: rgba(0,0,0,0.2);
		    padding: 5px 20px;
		    text-align: start;
		    color: #fff;
		    text-transform: uppercase;
		    font-size: 11px;
		    letter-spacing: 1px;
		}
		.swiper-container{
			padding-bottom:0;
		}
	}

	#homecontent{
		z-index:9;
		position:relative;

		ion-icon.down{
			position: absolute;
			bottom: 20px;
			font-size: 3em;
			color: white;

		}

	}
	
	.fadeOutDown {
		visibility: hidden;
		opacity: 0;
		transform: translate3d(0, 20px, 0);
		transition: visibility 0s 0.5s, opacity 0.5s linear, transform 0.5s linear;
	  }

	@keyframes fadeOutDown {
		from {
		  opacity: 1;
		}
	  
		to {
		  opacity: 0;
		  
		}
	  }	
	
}
