<div class="instructor_block">
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-sm-6>
                <img class="instructor_avatar" [src]="instructor.avatar" />
            </ion-col>
            <ion-col col-12 col-sm-6 #featured >
                <ion-card-content>
                    <div class="instructor_bio" >
                    
                    <div *ngIf="instructor?.about && instructor?.about != 'false'">
                            <div [innerHtml]=instructor.about></div>
                    </div>

                    </div>
                    <ion-grid>
						<ion-row>
							<ion-col *ngIf="instructor?.student_count">
								<ion-icon name="md-contacts"></ion-icon>
								<strong>{{instructor.student_count}}</strong>
							</ion-col>
							<ion-col *ngIf="instructor?.course_count">
								<ion-icon name="md-book"></ion-icon>
								<strong>{{instructor.course_count}}</strong>
							</ion-col>
						</ion-row>
					</ion-grid>
                </ion-card-content>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>