instructorblock {
	.instructor_block{
		text-align: center;


		.instructor_avatar{
			width: 60%;
			border-radius: 50%;
		}

		.instructor_sub{
		    opacity: 0.4;
		}

		.card-content{
			float:left;
    		padding-bottom: 40px;
			.card-title{
			    font-weight:600;
			    margin: 0;
			    padding: 0;
			}
			ion-grid{
				position:absolute;
				bottom:0;left:0;
				width:100%;
    			opacity: 0.4;
				border-top: 1px solid rgba(0,0,0,0.6);
			    ion-col{
			    	text-align:center;
			    	border-left: 1px solid rgba(0,0,0,0.6);
			    	&:first-child{
			    		border-left: none;
			    	}
		    	}
			}
		}
		star-rating .star-rating{
			font-size: 1rem;
		}
	}
	.instructor_bio{
		button{
			padding:0;
		}
	}
}

@media (max-width:550px){
	instructorblock{
		.instructor_avatar{
		}
	}
}