page-course {

	ion-navbar{
		background-color: transparent !important;
	}

	.list-ios{margin:0};

	progress-bar .progress_wrap span {color: white}

	.scroll-content{margin-top: 0 !important;}
	ion-slides[slidesperview="3"] ion-slide{max-width:none;}

	
	div.description{
		font-size: 1.5rem;
		text-align: center;
	}

	#courseslides{
		.slide-zoom{
			text-align:left;
			padding-top:30px;
		}
	}
	.course_instructor{
		img{
			width:24px;height:24px;margin-right:10px;
			border-radius:50%;float:left;
		}
	}
	.card{
		.card-title{padding:15px 15px 0;}
		star-rating{float:right;}
	}


	.course-container{
		background-color: rgba(0,0,0,0.3);
		border-radius: 20px;
		padding: 20px;
		margin: 20px;
		text-align: center;

		img.cover{
			width: 100%;
			border-radius: 20px;
			margin-bottom: 40px;
		}


		.course-menu{
			margin-left: -20px;
			width: calc(100% + 40px);
			color:#fff;
			background: linear-gradient(to top, rgba(0,0,0,0.8) 0, transparent 100%);
			ion-row{
				padding: 0 10px;
				font-size:1.4rem;
			}

			button{
				color:#fff !important;
				background:rgba(0,0,0,0.2);
				width: 100%;
				border-radius: 0;
			}

			#coursetabs{

				.swiper-slide{
					button{
						position:relative;
						color:#333;
						background:transparent;
						padding:10px 10px 12px;
						font-size:1.3rem;
						font-weight:600;
						text-transform:uppercase;
					}
				}
				ion-slide.swiper-slide.swiper-slide-active:after{
					content:'';
					position:absolute;
					left:0;bottom:0;
					width:100%;
					height:3px;
					background:white;
					display:block;
				}
			}

		}


	}

	#coursecontent{
		z-index:9;
		position:relative;
		color: white;
		text-align: center;
	}	



	#course_button{    
		position: fixed;
	    z-index: 99;
	    bottom: 0;
	    height:auto !important;
	    right: 0;
	    margin: 0;
	    border-radius: 0;
	    width: 100%;
		padding: 15px;
    	font-size: 2rem;
    }

}

ion-tabs page-course #course_button {
	bottom:4rem;
}
