<ion-header>
    <ion-navbar color="transparent">
        <ion-buttons start>
            <button ion-button menuToggle>
                <ion-icon name="md-menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>

    <div id="featured" class="course-container">
        
        <img class="cover" *ngIf="fullCourse?.course.featured_image" [src]="fullCourse?.course.featured_image"/>

        <div class="course-menu">
            <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" #CourseTabs id="coursetabs" spaceBetween="0" slidesPerView="3" (ionSlideDidChange)="onTabChanged()">
                <ion-slide *ngFor="let tab of coursetabs; let i=index;">
                  <button ion-button (click)="selectedTab(i)">
                    {{this.config.get_translation(tab)}}
                  </button>
                </ion-slide>
            </ion-slides>
        </div>

        <div id="coursecontent" class="padding">
            <ion-slides dir="{{config.settings.rtl ? 'rtl' : undefined }}" id="courseslides" #CourseSlides (ionSlideDidChange)="onSlideChanged()">
                
                <ion-slide *ngFor="let tab of coursetabs; let i=index;">
                   
                    <div class="{{tab}}" [ngClass]="{ 'rtl': is_persian_desc() }"  *ngIf="(tab == 'description')" [innerHTML]="fullCourse[tab] | safeHtml"></div>
                    
                    <!-- curriculum tab, visible only when logged in -->
                    <div class="{{tab}}" *ngIf="(tab == 'curriculum')">
                        
                        <div class="center">
                            <button ion-button color-primary="bg" [innerHtml]="show_course_status(user_course_status)" [navPush]="courseStatusPage" [navParams]="{'course':user_course,'user':user}"  ></button>
                            <progress-bar [progress]="user_course_progress" ></progress-bar>
                        </div>

                        <ion-list>
                            <ion-item *ngFor="let item of fullCourse[tab]">
                                <h3 *ngIf="item?.type === 'section'">
                                    <strong [innerHtml]="item.title"></strong>
                                </h3>
                                <h3 *ngIf="item?.type === 'unit'">
                                    <span [innerHtml]="item.title"></span>
                                </h3>
                                <ion-icon name="ios-arrow-dropright" item-left *ngIf="item?.type === 'unit'"></ion-icon>
                                <ion-icon name="md-alarm" item-left *ngIf="item?.type === 'quiz'"></ion-icon>
                                <h3 *ngIf="item?.type === 'quiz'">
                                    <span [innerHtml]="item.title"></span>
                                </h3>
                            </ion-item>
                        </ion-list>
                    
                    </div>

                    <!-- instructors tab -->
                    <div class="{{tab}}" *ngIf="(tab == 'instructors')">
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngFor="let item of fullCourse[tab]" col-12 col-lg-6>
                                    <instructorblock [instructor]="item"></instructorblock>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>

    </div>
 
    <div *ngIf="message?.length" class="message_toggle">
        <div [innerHtml]="message"></div>
    </div>
</ion-content>
