coursecard {
	
	position:relative;
	display:inline-block;
	width:100%;

	.featured_course_block{
		.featured_course_image{
			max-height:200px;
			overflow:hidden;
		}
		.card-content{
			padding:10px 12px 11px 12px;
			position:relative;
		}
		.star-rating,
		.card-title{
			font-size:1.6rem;
			margin-top:0;padding-top:0;
			font-weight:600;
		}
	}
}
